@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #262626;
  --foreground: #ffffff;
  --primary: #1E1E1E;
  --secondary: #5483a9;
  --accent: rgb(152, 158, 194);
  --title-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Bree Serif', serif;
  width: 100vw;
  height: 100vh;
}

body *:not(h1) {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

h1.title {
  color: var(--title-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: bold;
  transition: color 1s, text-shadow 1s; 
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-shadow: 
    -3px -3px 0 #262626,  
    3px -3px 0 #262626,
    -3px 3px 0 #262626,
    3px 3px 0 #262626;
}


.tile {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s ease, color 1.5s ease, transform 0.25s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  transform: scale(1.02); 
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 1vw;
  padding: 1vw;
  width: 100%; 
  height: 100%; 
  box-sizing: border-box;
}

html, body, .container {
  width: 100%; 
  height: 100%; 
  margin: 0; 
  padding: 0;
}

.tile.large {
  grid-column: span 2;
  grid-row: span 2;
}

.tile.ewide {
  grid-column: span 3;
}

.tile.tall {
  grid-row: span 3;
}

.tile.wide {
  grid-column: span 2;
}

.tile.thin {
  grid-column: span 1;
  grid-row: span 2;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup-content {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-in-out;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.popup-content::-webkit-scrollbar {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  cursor: pointer;
}

.close-button::before {
  content: '✖';
  font-size: 1.5rem;
  color: var(--foreground);
}

@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.blurred-circle {
  position: fixed;
  width: 750px;
  height: 750px;
  background: rgba(255, 255, 255, 0.0); 
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1; 
  pointer-events: none; 
  transition: background-color 5s ease, transform 5s ease;
}

.blurred-circle-2 {
  position: fixed;
  width: 550px;
  height: 550px;
  background: rgba(255, 255, 255, 0.0); 
  border-radius: 50%;
  filter: blur(80px);
  z-index: -1; 
  pointer-events: none; 
  transition: background-color 7s ease, transform 7s ease;
}

.blurred-circle-3 {
  position: fixed;
  width: 480px;
  height: 480px;
  background: rgba(255, 255, 255, 0.0); 
  border-radius: 50%;
  filter: blur(90px);
  z-index: -1; 
  pointer-events: none; 
  transition: background-color 6s ease, transform 6s ease;
}

.tile h3 {
  transition: text-shadow 0.3s ease;
}
