@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #262626;
  --foreground: #ffffff;
  --primary: #1E1E1E;
  --secondary: #5483a9;
  --accent: rgb(152, 158, 194);
  --title-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Bree Serif', serif;
  width: 100vw;
  height: 100vh;
}

h1.title {
  color: var(--title-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: bold; /* Bolder font weight */
  transition: color 1s; /* Smooth transition for color */
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-shadow: 
    -3px -3px 0 #262626,  
    3px -3px 0 #262626,
    -3px 3px 0 #262626,
    3px 3px 0 #262626;
}

.tile {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.25s ease, color 1.5s ease, transform 0.25s ease; /* Add transition for color */
  box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  transform: scale(1.02); /* Increase size on hover */
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 1vw;
  padding: 1vw;
  width: 100%; /* Set width to 100% */
  height: 100%; /* Ensure the grid occupies the full height */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

html, body, .container {
  width: 100%; /* Ensure parent elements also have a width of 100% */
  height: 100%; /* Ensure parent elements also have a height of 100% */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.tile.large {
  grid-column: span 2;
  grid-row: span 2;
}

.tile.ewide {
  grid-column: span 3;
}

.tile.tall {
  grid-row: span 3;
}

.tile.wide {
  grid-column: span 2;
}

.tile.thin {
  grid-column: span 1;
  grid-row: span 2;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup-content {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

.close-button {
  background: none;
  border: none;
  color: var(--accent);
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: var(--secondary);
}

close-button::before {
  content: '✖'; /* Unicode character for a modern "X" */
  font-size: 1.5rem;
}

/* Media queries for different resolutions */
@media (max-width: 1600px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
